.btn__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    .btn__item:nth-last-child(-n + 2) {
      margin-top: 15px;
    }
    .btn__item:nth-last-child(3) {
      margin-right: 0;
    }
  }
}

.btn__item {
  margin-right: 8px;
}
.btn__item:last-child {
  margin-right: 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button.primary {
  background-color: var(--primary-bg-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
