.contacts__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts {
  display: flex;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__mail-icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767.98px) {
  .contacts__wrap {
    display: none;
  }
}

/* @media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
} */
