.form-footer {
  display: flex;
}

.form-footer__input {
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  color: var(--primary-white-color);
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
}
.form-footer__input:focus {
  outline: none;
  border-color: var(--primary-white-color);
}
.form-footer__input:focus::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input:-webkit-autifill,
.form-footer__input:-webkit-autifill:hover,
.form-footer__input:-webkit-autifill:focus {
  -webkit-tex-fill-color: currentColor;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}
.form-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
