.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  flex-basis: calc((100% - 30px * var(--cards-set-gap)) / var(--cards-set-gap));
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-profession {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-profession__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.subtext {
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
}
